@charset "utf-8";

/* 共通部分 */
html{
  font-size: 100%;
}
body{
  font-family:"Yu Gothic Medium","游ゴシック Medium","游ゴシック体","ヒラギノ角ゴ Pro M3","sans-serif";
  line-height: 1.7;
  color:#432;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}

/* ----------------------------------- 
             HEADER部分               
----------------------------------- */
.logo{
  width:210px;
  margin-top: 14px;
}

.main-nav{
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
   li{
     margin-left: 36px;
   }
   a{
     color:#432;
     &:hover{
       color: #0bd;
     }
   }
}

.page-header{
  display: flex;
  justify-content: space-between;
}

.wrapper{
  min-width: 1100px;
  margin: 0 auto;
  padding:0 4%;
}

/* ----------------------------------- 
             HOME部分               
----------------------------------- */

.home-content{
  text-align:center;
  margin-top: 10px;
   p{
     font-size: 1.125rem;
     margin: 10px 0 42px;
   }
}

// 見出し
.page-title{
  font-size:5rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
}

// ボタン
.button{
  font-size: 1.375rem;
  background: #0bd;
  color:#fff;
  border-radius: 5px;
  padding: 18px 32px;
}