@charset "utf-8";

/* 共通部分 */
html{
  font-size: 100%;
}
body{
  font-family:"Yu Gothic Medium","游ゴシック Medium","游ゴシック体","ヒラギノ角ゴ Pro M3","sans-serif";
  line-height: 1.7;
  color:#432;
}
a{
  text-decoration: none;
}
img{
  min-width: 100%;
}

/* ----------------------------------- 
             HEADER部分               
----------------------------------- */
.logo{
  width:210px;
  margin-top: 14px;
}


